.main__content {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main__intro {
  flex-direction: column;
  /* justify-content: center; */
  justify-content: end;
}
.main__intro > p:first-child {
  font-size: 1.3rem;
  padding: 0;
  margin-top: 90px;
  margin-bottom: 0;
  color: #96c7ff;
}
.main__intro > p:nth-child(2) {
  font-size: 2.5rem;
  padding: 0;
  margin-bottom: 90px;
  margin-top: 50px;
  /* color: white; */
}
.main__content__box {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.main__content__item {
  width: 310px;
  height: 400px;
  background-color: #96c7ff;
  border-radius: 15px;
  margin: 20px 3.5vw 70px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.main__content__item:hover {
  width: 330px;
  height: 425px;
  margin: 10px calc(3.5vw - 10px) 55px;
  transition: 200ms;
}
.main__content__item > i {
  font-size: 150px;
  margin: 50px 50px 30px 50px;
}
.main__content__item > a {
  /* width: 210px;
    height: 300px; */
}
.main__content__item > p:first-child {
  font-size: 2rem;
}
.main__content__item > p:nth-child(2) {
  font-size: 1.5rems;
}
