:root {
    --color1: #136b7f;
    --color2: #198496;
    --color3: #4aa0b0;
    --color4: #a9d2e6;
    --color5: #fefdfb;
    --color6: #552511;
    --color7: #e0691e;
}

* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-color: var(--color1);
}
.container {
    height: 100vh;
    background-color: var(--color2);
    border-radius: 50%;
    margin: 0;
}
.snowman {
    width: 700px;
    height: 800px;
    border-radius: 50%;
    /* background-color: var(--color3); */
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.face {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: var(--color5);
    box-shadow: 10px -10px 10px 0px var(--color4) inset;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 30%;
    z-index: 1;
}
.upper-body {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: var(--color5);
    box-shadow: 20px -30px 10px 0px var(--color4) inset;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 2
}
.lower-body {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: var(--color5);
    box-shadow: 35px -35px 10px 0px var(--color4) inset;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 75%;
    z-index: 3;
}
.hat {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 50px solid var(--color6);
    border-left: 100px solid transparent;
    border-right: 70px solid transparent;
    border-radius: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 49%;
    top: 19%;
    z-index: 5;
    
}
.left_eyes, .right_eyes{
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.left_eyes{
    left: 40%;
    top: 35%;
}
.right_eyes{
    left: 60%;
    top: 35%;
}
.nose {
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 70px solid transparent;
    border-right: 70px solid var(--color7);
    border-radius: 30%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 10%;
    top: 55%;
    z-index: 5;
}
.button1, .button2, .button3 {
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 5;
}
.button1{
    left: 50%;
    top: 25%;
}
.button2{
    left: 50%;
    top: 37%;
}
.button3{
    left: 50%;
    top: 49%;
}