.footer {
  width: calc(100% - 16.0102rem);
  margin-left: 16.0102rem;
  font-size: 0.75rem;
  margin-top: 5rem;
}
.footer__box {
  width: 100%;
}
.footer__nav {
  margin-bottom: 7rem;
  justify-content: space-between;
  margin-right: 2.61rem;
  flex-wrap: wrap;
}
.footer__nav__left span:nth-child(1) {
  font-weight: 900;
}
.footer__nav__left span {
  margin-right: 2rem;
  font-weight: 400;
}
.footer__nav__right span {
  margin-left: 1.7rem;
  font-weight: 400;
}
.footer__info {
  margin-bottom: 2.5rem;
}
.footer__info div {
  font-weight: 400;
}
@media screen and (max-width: 1265px) {
  .footer {
    width: 100%;
    margin-left: 1.25rem;
  }
}
@media screen and (max-width: 751px) {
  .footer__nav {
    flex-direction: column;
  }
  .footer__nav__left,
  .footer__nav__right {
    flex-direction: column;
  }
  .footer__nav__left span,
  .footer__nav__right span {
    line-height: 0.9375rem;
    padding: 0.5rem;
  }
  .footer__nav__right span {
    margin-left: 0;
  }
  .footer__nav__left span:nth-child(1) {
    margin-bottom: 1.5rem;
  }
}
