.main {
  margin-top: 2.5rem;
}
.main__menu__box {
  flex-direction: column;
  width: 16.0102rem;
  padding-left: 1.7rem;
  margin: 0;
  font-size: 0.8rem;
}
.main__menu__box ul {
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.main__menu__box ul li {
  font-weight: 500;
}
.main__menu__box .main__search {
  line-height: 0.9375rem;
  align-items: center;
}
.main__menu__box .main__search p {
  font-weight: 500;
  margin: 0 0.5rem 0 0;
}
.main__content {
  width: calc(100% - 16.0102rem);
  padding-right: 2.61rem;
}
.main__content__img {
  width: 100%;
}
.main__content__img img {
  width: 100%;
}
.main__content__title {
  font-size: 2.5rem;
  font-weight: 700;
}

@media screen and (max-width: 1265px) {
  .main {
    margin-top: 0.5rem;
  }
  .main__menu__box {
    display: none;
  }
  .main__content {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 2.2rem;
  }
}
