.main {
  margin-top: 2.5rem;
  justify-content: space-between;
}
.main__menu__box {
  flex-direction: column;
  width: 16.0102rem;
  height: 100%;
  padding-left: 1.7rem;
  margin: 0;
  font-size: 0.8rem;
}
.main__menu__box ul {
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0 0 1rem 0;
}
.main__menu__box ul li {
  font-weight: 500;
}
.main__menu__box .main__search {
  line-height: 0.9375rem;
  align-items: center;
}
.main__menu__box .main__search p {
  font-weight: 500;
  margin: 0 0.5rem 0 0;
}
.main__content {
  width: calc(100% - 16.0102rem);
  margin-right: 2.61rem;
  /* align-self: flex-end; */
}
.main__content__img {
  width: 100%;
  max-width: 96.3125rem;
}
.main__content__img img {
  width: 100%;
  max-width: 96.3125rem;
}
.main__content__copy {
  width: 45%;
}
.main__content__title {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
}
.main__content__story {
  margin-top: 1rem;
  font-size: 0.85rem;
}
.main__content__story q,
.main__content__story p {
  font-weight: 500;
  line-height: 0.9375rem;
}

@media screen and (max-width: 1265px) {
  .main {
    margin-top: 0.5rem;
  }
  .main__menu__box {
    display: none;
  }
  .main__content {
    width: 100%;
    padding-left: 1.25rem;
    padding-right: 2.2rem;
  }
}
@media screen and (max-width: 751px) {
  .main__content__copy {
    width: 90%;
  }
}
