* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    margin: 0;
}
.flex {
    display: flex;
}
.header {
    width: 100%;
    background-color: #323232;
    color: #FFFFFF;
}
.header__content, .header__menu {
    width: 100%;
    height: 100%;
    padding: 0;
}
.hamburger__icon {
    display: none;
}
.hamburger__icon input{
    border: none;
    padding: 0;
    font-size: 2.5rem;
    color: white;
    background-color: transparent;
}
.header__nav {
    align-items: center;
    padding: 0;
    height: 100%;
}
.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header__nav ul li {
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
}
.header__nav ul li.home {
    background-color: #4DAE4F;
}

@media screen and (max-width: 550px){
    .header__nav {
        display: none;
    }
    .hamburger__icon {
        display: block;
        text-align: center;
        width: 49.5px;
        margin: auto;
    }
    /* .header__content {
        justify-content: center;
        flex-direction: column;
    } */
    .hamburger__icon:hover, .hamburger__icon:active{
        background-color: #4DAE4F;
        border-radius: 2px;
        /* color: black; */
    }
    .hamburger__icon:active ~ .header__nav {
        display: block;
        width: 100%;
        /* flex-direction: column; */
        text-align: center;
    }
    .hamburger__icon:active ~ .header__nav ul li {
        width: 100%;
    }
}