html{
    font-size: 62.5%;
}

body{
    font-family: 'Afacad', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background: linear-gradient(50deg, #00233c, #00c9d5);
}

#box{
    background-color: #eff6f6da;
    color: #00233c;
    text-align: center;
    border: 3px solid #00233c;
    border-radius: 0.5rem;
    box-sizing: content-box;
    width: 200px;
    height: 90px;
    padding: 10px;
    line-height: 90px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    font-size: 3rem;
}