/* * {
    text-align: center;
    color: #0b151d;
    font-size: 15px;
}

html {
    background-color: #e7dae7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body {
    text-align: center;
    background-color: #c4afde;
    background-clip: content-box;
    border: 2px solid #3e3d51;
    border-radius: 1.25rem;
    width: 31rem;
    margin: 0 auto;
}

.title {
    margin-top: 50px;
    font-size: 30px
}

.signup-form {
    margin: 30px 50px 55px 50px;
    text-align: center;
    margin: 0 auto;
}

.user_info, .phone, .location{
    text-align: left;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}

.phone {
    width: 70px;
}

.gender {
    margin-bottom: 15px;
}

.gender input {
    width: 20px;
    margin-bottom: 30px;
}

.sign-button {
    width: 150px;
    height: 50px;
    background-color: #80768d;
    border-radius: 10px;
    margin-bottom: 50px;
} */

* {
    text-align: center;
    color: #0b151d;
    font-size: 15px;
}

html {
    background-color: #e7dae7;
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; */
    height: 100%;
}

body {
    /* text-align: center; */
    background-color: #c4afde;
    background-clip: content-box;
    border: 2px solid #3e3d51;
    border-radius: 1.25rem;
    width: 470px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    /* max-width: 31rem; */
    /* height: auto; */
    /* min-height: 100vh; */
}

.title {
    margin-top: 50px;
    font-size: 30px;
}

.signup {
    text-align: center;
}

.signup-form {
    /* margin: 30px 50px 55px 50px; */
    /* margin: 0 auto; */
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    /* margin-top: 50px; */
}

.user_info, .phone, .location{
    text-align: left;
    width: 300px;
    height: 30px;
    margin-bottom: 15px;
}

.phone {
    width: 70px;
}

.gender {
    margin-bottom: 15px;
}

.gender input {
    width: 20px;
    margin-bottom: 30px;
}

.sign-button {
    width: 150px;
    height: 50px;
    background-color: #80768d;
    border-radius: 10px;
    margin-bottom: 50px;
}