:root {
    --color1: #007ef6;
    --color2: #9971e8;
    --color3: #ef76cb;
    --color4: #ff91ac;
    --color5: #ffae8e;
}
* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
}
.screen {
    color: white;
    text-align: center;
}
p {
    margin: 15px;
}
.main__text {
    font-size: 1.5rem;
}
.screen p:nth-child(n + 2) {
    font-size: 15rem;
}
.second, .third, .fourth, .fifth {
    display: none;
}

/* 1 */
@media screen and (min-width: 1015px) and (max-width: 1205px) {
    .container {
        background-color: var(--color2);
    }
    .first {
        display: none;
    }
    .second {
        display: block;
    }
}
/* 2 */
@media screen and (min-width: 768px) and (max-width: 1014px) {
    .container {
        background-color: var(--color3);
    }
    .first {
        display: none;
    }
    .third {
        display: block;
    }
}
/* 3 */
@media screen and (min-width: 720px) and (max-width: 767px) {
    .container {
        background-color: var(--color4);
    }
    .first {
        display: none;
    }
    .fourth {
        display: block;
    }
}
/* 4 */
@media screen and (max-width:719px) {
    .container {
        background-color: var(--color5);
    }
    .first {
        display: none;
    }
    .fifth {
        display: block;
    }
}