* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    background-color: #FFFFFF;
}
.header__inner {
    height: 55px;
}
.header__logo {
    float: left;
}
.header__utility {
    float: right;
}
.banner__sec {
    clear: both;
}
.banner__img {
    height: 405px;
    width: 960px;
}
.banner__back-img {
    height: 405px;
    width: 960px;
    object-fit: cover;
}