* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
.flex {
  display: flex;
}
.container {
  height: 100%;
  background-color: #ffffff;
}
.header__inner {
  height: 55px;
}
.header__logo {
  float: left;
  padding: 16px 30px 16px 30px;
}
.header__utility {
  display: flex;
  float: right;
  font-size: 23px;
  padding: 10px 30px 10px 30px;
}
.header__search {
  margin-right: 25px;
}
.banner {
  clear: both;
  position: relative;
}
.banner__arrows {
  position: absolute;
  font-size: 50px;
  color: white;
  top: 225px;
  width: calc(100% - 60px);
  margin: 0 30px 0 30px;
}
.banner__left {
  float: left;
}
.banner__right {
  float: right;
}
.banner__img {
  height: 405px;
  width: 960px;
}
.banner__back-img {
  height: 405px;
  width: 960px;
  object-fit: cover;
}
.banner__text {
  position: absolute;
  bottom: 655px;
  left: 100px;
  color: white;
}
.banner__title {
  font-size: 28px;
  padding: 0;
  margin: 0;
  font-weight: 500;
}
.banner__copy {
  font-size: 14px;
  padding: 0;
  margin: 7px 0 30px 0;
  font-weight: 300;
}
.banner__bt {
  width: 120px;
  height: 32px;
  font-size: 14px;
  border-radius: 17px;
  border: none;
}
.product__navi {
  width: 876px;
  text-align: center;
  margin: auto;
  display: flex;
}
.product__menu {
  padding: 0 20px 0 20px;
  margin: 40px auto 15px;
}
.product__menu input {
  border: none;
  background-color: #ffffff;
  font-size: 13px;
  padding: 0;
}
.product__menu:nth-child(1) input {
  border-bottom: 2px solid black;
}
.product__board {
  width: 100%;
  position: relative;
  margin: auto;
}
.product__inner {
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
}
.product__first-line,
.product__second-line {
  display: flex;
  margin: 0 auto;
}
.product__board img {
  width: 211px;
  height: 211px;
  padding: 7px;
  border-radius: 20px;
  z-index: 1;
}
.menu__bar {
  display: flex;
  background-color: white;
  width: 100%;
  height: 60px;
  text-align: center;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px -5px 10px 0 rgb(0, 0, 0, 0.3);
  position: fixed;
  top: 908px;
  z-index: 110;
}
.menu-bar__inner {
  display: flex;
  margin: 10px auto;
}
.menu__icon {
  width: 163px;
  height: 38px;
  padding: 0;
  margin: 0;
}
.menu__icon i {
  font-size: 13;
  padding: 0;
  margin: 0;
}
.menu__icon p {
  font-size: 11px;
  padding: 0;
  margin: 0;
  position: relative;
}
.menu__icon:nth-child(3) i {
  background-color: #1c8bfd;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  position: relative;
  bottom: 20px;
  padding: 14px;
  margin: 0;
  color: white;
}
.menu__icon:nth-child(3) p {
  bottom: 20px;
}
