:root {
    --color1: #295ec2;
    --color2: #717dd7;
    --color3: #ae9fdf;
    --color4: #dfc2e8;
    --color5: #ede4ed;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100%;
    width: 100%;
}
body {
    height: 245px;
    margin: 10px;
}
.container {
    height: 100%;
    width: 100%;
    background-color: var(--color5);
    border-radius: 20px;
    overflow: scroll;
}
.sidebar__section {
    float: left;
    width: 180px;
    height: 100%;
}
.sidebar {
    display: inline-block;
    background-color: var(--color1);
    padding: 20px;
    width: 100%;
    color: var(--color5);
    height: inherit;
    border-radius: 20px 0px 0px 20px;
}
.sidebar__title {
    text-align: center;
}
.sidebar__title > i {
    font-size: 30px;
}
.sidebar__title > p {
    font-size: 20px;
}
.sidebar__content {
    margin-top: 25px;
}
.sidebar__content i {
    float: left;
    padding-right: 10px;
    font-size: 15px;
}
.sidebar__content p {
    font-size: 15px;
}

.intro__section {
    float: right;
    width: calc(100% - 180px);
    height: 100%;
}
.intro {
    display: inline-block;
    background-color: var(--color5);
    padding: 20px;
    width: 100%;
    height: inherit;
    color: black;
    border-radius: 0px 20px 20px 0px;
}
.intro__title {
    font-size: 20px;
    margin: 17px 0px 20px 0px;
}
.intro__welcome {
    font-size: 15px;
    margin-top: 10px 0px;
}
.intro__content {
    margin-top: 20px;
}
.intro__content div {
    margin-bottom: 13px;
}
.intro__content i {
    float: left;
    padding-right: 10px;
    font-size: 15px;
}
.intro__content p {
    font-size: 15px;
}