* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
.container {
    height: 100%;
    background-color: #9999FF;
}
.chat-room {
    height: calc(100% - 120px);
}
.user {
    height: 90px;
    background-color: #fffaf2;
    padding: 15px;
}
.user__column {
    float: left;
}
.user_picture {
    background-color: #9999FF;
    width: 60px;
    height: 60px;
    border-radius: 25%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
}
.pic-head {
    background-color: #D8D8FF;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
}
.pic-body {
    border-top: 1px solid transparent;
    border-bottom: 20px solid #D8D8FF;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-radius: 40%;
    margin: 0 auto;
    position: relative;
    bottom: 1.5px;
}
.user__nick {
    font-size: 20px;
    margin: 7px;
    font-weight: 700;
}
.user__state {
    font-size: 13px;
    color: #3c3c3c;
    margin: 7px;
}
.chat-form {
    height: 120px;
    background-color: #fffaf2;
}
.chat-form__field {
    height: 120px;
}
.chat-form__text {
    width: calc(100% - 120px);
    height: 120px;
    border: none;
    resize: none;
    font-size: 23px;
    padding: 15px;
    float: left;
}
.chat-form__button {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    float: right;
    background-color: #9999FF;
    font-size: 25px;
    border: 12x solid #3c3c3c;
}
.chat-form__text {
    outline: none;
}
.chat-form__button:active {
    background-color: #6666cc;
}